{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{{ title }}</h1>
</div>

<a class="nav-link" href="{% url 'task_create' %}">{% trans 'Create task' %}</a>


<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">{% trans 'Name' %}</th>
        <th scope="col">{% trans 'Status' %}</th>
        <th scope="col">{% trans 'Author' %}</th>
        <th scope="col">{% trans 'Executor' %}</th>
        <th scope="col">{% trans 'Created date' %}</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
    <tr>
        <th scope="row">{{ task.id }}</th>
        <td>{{ task.name }}</td>
        <td>{{ task.status }}</td>
        <td>{{ task.author }}</td>
        <td>{{ task.executor }}</td>
        <td>{{ task.created_date }}</td>
        <td>
            <a href="/tasks/{{ task.id }}/update/">{{ btn_update }}</a>
            <br>
            <a href="/tasks/{{ task.id }}/delete/">{{ btn_delete }}</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}