{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="container wrapper flex-grow-1">
<h1 class="my-4">{% trans 'Task view' %}</h1>

<div class="card">
  <div class="card-header bg-secondary text-white">
    <h2>{{ task.name }}</h2>
  </div>
  <div class="card-body bg-light">
    <p>{{ task.pk }}</p>
    <hr>
    <div class="container">
      <div class="row p-1">
        <div class="col">{% trans 'Author' %}</div>
        <div class="col">{{ task.author }}</div>
      </div>
      <div class="row p-1">
        <div class="col">{% trans 'Executor' %}</div>
        <div class="col">{{ task.executor }}</div>
      </div>
      <div class="row p-1">
        <div class="col">{% trans 'Status' %}</div>
        <div class="col">{{ task.status }}</div>
      </div>
      <div class="row p-1">
        <div class="col">{% trans 'Created date' %}</div>
        <div class="col">{{ task.created_date }}</div>
      </div>
      <div class="row p-1">
        <div class="col">{% trans 'Description' %}</div>
        <div class="col">{{ task.description }}</div>
      </div>
      <div class="row p-1">
        <div class="col"><h6>{% trans 'Labels' %}:</h6>
          <ul>
              {% for label in task.labels.all %}
              <li>{{ label.name }}</li>
              {% endfor %}
          </ul>
        </div>
      </div>
      <div class="row p-1">
        <div class="col">
          <a href="/tasks/{{ task.id }}/update/">{% trans 'Update' %}</a>
          <br>
          <a href="/tasks/{{ task.id }}/delete/">{% trans 'Delete' %}</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}