{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<!--<div class="container wrapper flex-grow-1">-->
<!--    <h1 class="my-4">{{ title }}</h1>-->

<!--    <form method="post">-->
<!--        {% csrf_token %}-->

<!--        <div class="form-group">-->
<!--            <label for="id_first_name">Имя</label>-->
<!--            <input type="text" name="first_name" maxlength="150"-->
<!--                   class="form-control" placeholder="Имя" title="" required-->
<!--                   id="id_first_name">-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--            <label for="id_last_name">Фамилия</label>-->
<!--            <input type="text" name="last_name"-->
<!--                   maxlength="150"-->
<!--                   class="form-control"-->
<!--                   placeholder="Фамилия"-->
<!--                   title="" required-->
<!--                   id="id_last_name">-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--            <label for="id_username">Имя пользователя</label>-->
<!--            <input type="text" name="username"-->
<!--                   maxlength="150" autofocus-->
<!--                   class="form-control"-->
<!--                   placeholder="Имя пользователя"-->
<!--                   title="Обязательное поле. Не более 150 символов. Только буквы, цифры и символы @/./+/-/_."-->
<!--                   required id="id_username">-->
<!--            <small class="form-text text-muted">Обязательное поле. Не более-->
<!--                150 символов. Только буквы, цифры и символы-->
<!--                @/./+/-/_.</small>-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--            <label for="id_password1">Пароль</label>-->
<!--            <input type="password"-->
<!--                   name="password1"-->
<!--                   autocomplete="new-password"-->
<!--                   class="form-control"-->
<!--                   placeholder="Пароль"-->
<!--                   title="Ваш пароль должен содержать как минимум 3 символа."-->
<!--                   required-->
<!--                   id="id_password1">-->
<!--            <small class="form-text text-muted">-->
<!--                Ваш пароль должен содержать как минимум 3 символа.-->
<!--            </small>-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--            <label for="id_password2">Подтверждение пароля</label>-->
<!--            <input type="password" name="password2"-->
<!--                   autocomplete="new-password"-->
<!--                   class="form-control"-->
<!--                   placeholder="Подтверждение пароля"-->
<!--                   title="Для подтверждения введите, пожалуйста, пароль ещё раз."-->
<!--                   required id="id_password2">-->
<!--            <small class="form-text text-muted">Для подтверждения введите,-->
<!--                пожалуйста, пароль ещё раз.</small>-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--            <input class="btn btn-info" type="submit" value="Зарегистрировать">-->
<!--        </div>-->

<!--    </form>-->
<!--</div>-->


<!--<div class="container wrapper flex-grow-1">-->
<!--<h1 class="my-4">{{ title }}</h1>-->
<!--<form method="post">-->
<!--    {% csrf_token %}-->
<!--&lt;!&ndash;        {{ form.as_p }}&ndash;&gt;-->
<!--    {% for f in form %}-->
<!--    <div class="form-group">-->
<!--        <label for="{{ f.id_for_label }}">{{ f.label }}: </label>-->
<!--        {{ f.title }} {{ f.id_for_label }}-->
<!--&lt;!&ndash;        class="form-control" placeholder="{{ f.label }}"&ndash;&gt;-->
<!--    </div>-->
<!--    <div class="errors">{{ f.errors }}</div>-->
<!--    {% endfor %}-->
<!--    <div class="form-group">-->
<!--        <input class="btn btn-info" type="submit" value="Зарегистрировать">-->
<!--    </div>-->
<!--</form>-->
<!--</div>-->

<!--    <form method="post">-->
<!--        {% csrf_token %}-->
<!--        {{ form.as_p }}-->
<!--        <div class="form-group">-->
<!--            <label>{{ form.username.label }}:</label>-->
<!--            <input type="text" class="form-control"-->
<!--                   name="{{ form.username.label }}"-->
<!--                   value="{{ form.username.value }}"-->
<!--                   placeholder="{{ form.username.label }}"-->
<!--                   maxlength="128" required id="{{ form.id_username }}">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label>{{ form.first_name.label }}:</label>-->
<!--            <input type="text" class="form-control"-->
<!--                   name="{{ form.first_name.label }}"-->
<!--                   value="{{ form.first_name.value }}"-->
<!--                   placeholder="{{ form.first_name.label }}"-->
<!--                   maxlength="128" required id="{{ form.id_first_name }}">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label>{{ form.last_name.label }}:</label>-->
<!--            <input type="text" class="form-control"-->
<!--                   name="{{ form.last_name.label }}"-->
<!--                   value="{{ form.last_name.value }}"-->
<!--                   placeholder="{{ form.last_name.label }}"-->
<!--                   maxlength="128" required id="{{ form.id_last_name }}">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label>{{ form.email.label }}:</label>-->
<!--            <input type="email" class="form-control"-->
<!--                   name="{{ form.email.label }}"-->
<!--                   value="{{ form.email.value }}"-->
<!--                   placeholder="{{ form.email.label }}"-->
<!--                   maxlength="128" required id="{{ form.id_email }}">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label>{{ form.password.label }}:</label>-->
<!--            <input type="password" class="form-control"-->
<!--                   name="{{ form.password.label }}"-->
<!--                   value="{{ form.password.value }}"-->
<!--                   placeholder="{{ form.password.label }}"-->
<!--                   maxlength="128" required id="{{ form.id_password }}">-->
<!--        </div>-->
<!--    <div class="form-group">-->
<!--        <input class="btn btn-info" type="submit" value="Зарегистрировать">-->
<!--    </div>-->
<!--    </form>-->



<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{{ title }}</h1>
    <form action="/login/" method="post" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons submit="Зарегистрировать" class="btn btn-info" %}
      {% endbuttons %}
    </form>
</div>

{% endblock %}
