{% extends 'base.html' %}

{% block title %}Удаление пользователя{% endblock %}

{% block content %}
<div class="container wrapper flex-grow-1">

    <h1 class="my-4">Удаление пользователя</h1>

    {% if object.is_active %}
    <form method="post">
        {% csrf_token %}
        <p>Вы уверены, что хотите удалить "{{ object }}"?</p>
        <input class="btn btn-danger" type="submit" value="Да, удалить">
    </form>
    {% else %}
        <p>Удаление невозможно. Пользователь "{{ object }}" - не залогинен.</p>
    {% endif %}

</div>
{% endblock %}