{% extends 'base.html' %}

{% block title %}Страница входа{% endblock %}

{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">Вход</h1>
    <form method="get">
        <div class="mb-3">
            <label for="exampleInputText1" class="form-label">Имя
                пользователя</label>
            <input type="text" class="form-control" id="exampleInputText1"
                   aria-describedby="textHelp" placeholder="Имя пользователя">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Пароль</label>
            <input type="password" class="form-control"
                   id="exampleInputPassword1" placeholder="Пароль">
        </div>
        <button type="submit" class="btn btn-info">Войти</button>
    </form>
</div>


{% endblock %}