{% extends 'base.html' %}

{% block title %}Пользователи{% endblock %}

{% block content %}
<main role="main" class="container">
  <div class="starter-template">
    <h1>Пользователи</h1>
  </div>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Имя пользователя</th>
      <th scope="col">Полное имя</th>
      <th scope="col">Дата создания</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Admin</td>
        <td>Admin Petrovich</td>
        <td>11.10.2022 19:30</td>
        <td>
          <a href="/users/{{ user.id }}/update/">Изменить</a>
          <br>
          <a href="/users/{{ user.id }}/delete/">Удалить</a>
        </td>
    </tr>
      {% for user in User.objects.all %}
    <tr>
        <th scope="row">{{ user.id }}</th>
        <td>{{ user.username }}</td>
        <td>{{ user.first_name }} {{ user.last_name }}</td>
        <td>{{ user.date_joined }}</td>
        <td>
          <a href="/users/{{ user.id }}/update/">Изменить</a>
          <br>
          <a href="/users/{{ user.id }}/delete/">Удалить</a>
        </td>
    </tr>
      {% endfor %}
  </tbody>
</table>


</main>
{% endblock %}
